# Python
__pycache__/
*.py[cod]
*.pyo
*.env
.env
venv/
env/
build/
dist/
*.ruff_cache/

# Node
*/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
#.vscode/
.history/
.idea/

# Docker
mlflow_data/
mlruns/

# custom
doc/
downloaded_data/
scripts/firstTest.geojson
logs/
