.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #457d58;
  color: #cde5d4;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #cde5d4;
  cursor: pointer;
  margin-right: 1rem;
}

.title {
  color: #cde5d4;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  vertical-align: middle;
}

.logo-image {
  height:3em;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.nav-links {
  margin-left: auto;
  margin-right: 5rem;
}

.nav-links a {
  color: #cde5d4;
  margin-left: 1rem;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: underline;
  color: #ffffff;
}

.language-select {
  margin-left: 1rem;
  background-color: #457d58;
  color: #cde5d4;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.language-select:hover,
.language-select:focus {
  color: #ffffff;
  text-decoration: underline;
}

.language-select-option {
  background-color: #457d58;
  color: #cde5d4;
  font-size: 1rem;
}