body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  z-index: 1001; /* Ensure the header is above the sidebar */
}